<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Orden
      </h1>
      <h2 class="subtitle">
        
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
      
      <div class="field">
        <label class="label">Codigo:</label>
        <div class="control">
          <textarea
            class="input" 
            [class.is-danger]="codigoFieldIsInvalid"
            [class.is-success]="codigoFieldIsValid"
            cols="1"
            rows="1"
            type="text"

            formControlName="codigo"
          ></textarea>
        </div>
        {{ form.get("codigo").errors | json }}
      </div>
      <div *ngIf="codigoFieldIsInvalid">
        <p class="help is-danger" *ngIf="codigoField.hasError('required')">
        Es un campo requerido
        </p>
        <p class="help is-danger">
        Solo se permiten numeros
        </p>
      </div>
      
      

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
           class="input" 
           [class.is-danger]="emailFieldIsInvalid"
           [class.is-success]="emailFieldIsValid"
           type="email" 
           formControlName="email" />
          <span class="icon is-small is-left">
            <i class="fas fa-at"></i>
          </span>    
        </div>
        <div *ngIf="emailFieldIsInvalid">
          <p class="help is-danger" *ngIf="emailField.hasError('required')">
            Es un campo requerido
          </p>
          <p class="help is-danger" *ngIf="emailField.hasError('email')">
            No es un email
          </p>
        </div>
      </div>



      <div class="field">
        <label class="label">Texto largo:</label>
        <div class="control">
          <textarea
            class="textarea"
            cols="30"
            rows="10"
            formControlName="text"
          ></textarea>
          {{ form.get("text").value.length }}/80
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Guardar</button>
        </div>
        <div class="control">
          <button class="button is-light" type="reset">Cancelar</button>
        </div>
      </div>
    </form>
  </section>
</div>