<form [formGroup]="form" novalidate (ngSubmit)="save($event)">
  <p>
    Name: <br />
    <input type="text" formControlName="name">
  </p>
  <div *ngIf="form.get('text').errors && form.get('text').touched">
    <p *ngIf="form.get('text').hasError('required')">
      Es un campo requerido
    </p>
  </div>
  <p>
    Fecha: <br />
    <input type="date" formControlName="date">
  </p>
  <div *ngIf="form.get('date').errors && form.get('date').touched">
    <p *ngIf="form.get('date').hasError('required')">
      Es un campo requerido
    </p>
  </div>
  <p>
    Email: <br />
    <input type="email" formControlName="email">
  </p>
  <div *ngIf="form.get('email').errors && form.get('email').touched">
    <p *ngIf="form.get('email').hasError('required')">
      No es un email
    </p>
  </div>
  <p>
    Texto largo: <br />
    <textarea cols="30" rows="10" formControlName="text"></textarea>
    <small>{{ this.form.get('text').value.length }}/80</small>
  </p>
  <div *ngIf="form.get('text').errors && form.get('text').touched">
    <p *ngIf="form.get('text').hasError('required')">
      Es un campo requerido
    </p>
    <p *ngIf="form.get('text').hasError('maxlength')">
      Te pasaste, máximo deben haber 80 caracteres.
    </p>
  </div>
  <p>
    Category: <br />
    <select formControlName="category">
      <option value="1">Category 1</option>
      <option value="2">Category 2</option>
      <option value="3">Category 3</option>
    </select>
  </p>
  <div *ngIf="form.get('email').errors && form.get('email').touched">
    <p *ngIf="form.get('email').hasError('required')">
      Es un campo requerido
    </p>
  </div>
  <p>
    Genero: <br />
    <input type="radio" name="gender" formControlName="gender" value="male"> Male<br>
    <input type="radio" name="gender" formControlName="gender" value="female"> Female<br>
    <input type="radio" name="gender" formControlName="gender" value="other"> Other
  </p>
  <button (click)="doSomething()">Action</button> 
  <button type="submit" >Guardar</button>
</form>